@import 'global/color';
@import 'global/typography';

body {
  background: $white;
  color: $black;
}

// BODY
.main {
	padding: 1em 0;
}
.wrapper {
	padding: 1em;
	width: 100%;
}


// Sections

.top-block {
	width: 100%;
	height: 100px;
	background-color: $rust;
}


// STUPID LARGE DESKTOP BREAKPOINT
@media (min-width: 700px) {
	.wrapper {
		margin: 0 auto;
	}
	.main .wrapper {
		width: 760px;
		//padding-top: 0;
	}
}