@import 'global/color';
@import 'global/typography';

body {
  background: $white;
  color: $black;
  display: block;
}

.wrapper {
    width: 100%;
    padding: 1em;
    margin: auto;
}

// Large break point
@media (min-width: 900px) {
	.wrapper {
		max-width: 900px;
		margin: auto;
	}
}