@import 'global/color';
@import 'global/typography';

body {
  background: $white;
  color: $black;
  display: block;
}

section {
	width: 100%;
	 padding: 2em 2em;
}

.wrapper {
    width: 100%;
    padding: 1em;
    margin: auto;
}

// Large break point
@media (min-width: 900px) {
	.wrapper {
		max-width: 900px;
		margin: auto;
	}
}

.dark-blue {
	background: $blue;
	p {
		color: $white;
	}
}