@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);


body {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.4em;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
	padding: 0 0 1em 0;
	color: $blue;
}